<!DOCTYPE>
<html>
    <head>
      <title>SearchIt</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">SearchIt</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact us</a>
              </li>
            </ul>
            <ul class="navbar nav ml-auto">
            <% if(!currentUser){ %>
            <div>
              <a class="btn btn-xs btn-primary mr-2" href="/userLogin">Log In!</a>
            </div>
            <div>
              <a class="btn btn-xs btn-warning" href="/register">Sign Up!</a>
            </div>
            <% } else { %>
              <li class="nav-item dropdown" style="float:right">
                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;color: #CCCECF">
                  Signed In As <%=currentUser.username%><%if(currentUser.isAdmin){%>(admin)<% }%>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%if(currentUser.role === 'employer') { %>
                    <a class="dropdown-item" href="/provider/<%=currentUser._id%>">Your Timeline</a>
                  <% } else if(currentUser.role=== 'worker'){%>
                    <a class="dropdown-item" href="/seeker/<%=currentUser._id%>">Your Timeline</a>
                  <% } %>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
              </li>
            <% } %>
            </ul>
            </div>
    </nav>
