<%- include("./partials/header"); -%>

<link rel="stylesheet" type="text/css" href="stylesheets/landing.css">

<header class="masthead">
</header>

<div class="container">
    <div class="jumbotron mt-4">
        <h1>Offer jobs</h1>
        <a href="/provider/show" class=" btn btn-primary btn-xs">Get Started</a>
    </div>
    <div class="jumbotron">
        <h1>Search jobs</h1>
        <a href="/seeker/show" class=" btn btn-primary btn-xs">Let's Search</a>
    </div>
    <div class="jumbotron">
        <h1>Policies</h1>
        <a href="/policy/show" class=" btn btn-primary btn-xs">See Policies</a>
    </div>
</div>
<%- include("./partials/footer"); -%>