<div id="header">
    <%- include("../partials/header"); -%>
</div>

<link rel="stylesheet" type="text/css" href="/stylesheets/sideBar.css">

<div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
    
     <!--Use any element to open the sidenav -->
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;open</span>
    
     <!--Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">
        <div class="container">
            <h1>provider show</h1>
        </div>
    </div>
    
    
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
          document.getElementById("header").style.marginLeft = "250px";
          document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }
        
        /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft = "0";
          document.getElementById("header").style.marginLeft = "0";
          document.body.style.backgroundColor = "white";
        }
    
    </script>
</div>

<%- include("../partials/footer"); -%>
