<%- include("../partials/header"); -%>

<div class="container" style="margin-top:4rem">
    <a href="#" class="btn btn-xs btn-outline-warning" style="float: right">Add new Post!</a>
</div>

<a href="/" class="btn btn-xs btn-primary">Go Back!</a>

<%- include("../partials/footer"); -%>