<%- include("../partials/header"); -%>

<div class="container">
    <h1>this is policy page</h1>
</div>

<a href="/" class="btn btn-xs btn-primary">Go Back!</a>

<%- include("../partials/footer"); -%>