<%- include("../partials/header"); -%>

<div class="container">
        <h1 class="text-center" style="margin-top: 5rem">Create a new blog</h1>
        <div style="width:80%; margin:2rem auto;">
            <form action="/blogs" method="POST">
                <div class="row">
                    <div class="col-md-5 form-group required">
                        <input class="form-control" type="text" name="title" placeholder="Title">
                    </div>
                    <div class="col-md-5 form-group required">
                        <input class="form-control" type="text" name="image" placeholder="Image Url">
                    </div>
                    <div class="form-group col-md-2">
                        <select id="inputGenre" class="form-control" name="genre">
                          <option selected>Genre</option>
                          <option value="Technology">Technology</option>
                          <option value="Entertainment">Entertainment</option>
                          <option value="Food">Food</option>
                        </select>
                    </div>
                </div>
                <div class="form-group required">
                    <textarea rows="6" class="form-control" type="text" name="description" placeholder="Write here....."></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-lg btn-block" style="width:30%; margin:auto">Submit!</button>
                </div>
            </form>
            <a href="/blogs" class="btn btn-warning btn-xs">Go Back</a>
        </div>
</div>

<%- include("../partials/footer"); -%>